<p id="notice"><%= notice %></p>

<p>
  <b>Filename:</b>
  <%= @photo.filename %>
</p>

<p>
  <b>User:</b>
  <%= @photo.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Public:</b>
  <%= @photo.public %>
</p>

<p>
  <b>Date:</b>
  <%= @photo.date %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
